<!-- Start Header Section -->
<div class="page-header">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12 animated pulse">
                    <h1>Contáctanos</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Header Section -->
<div class="container-fluid">
<div class="card-columns animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
    <div class="col-md-4 col-sm-6">
      <div class="card p-3 text-center">
        <div class="contact-details-box">
          <img src="assets/images/contact/undraw_address_udes.svg" class="step__image">
          <!-- <i class="fa fa-map-marker"></i> -->
          <h3>Oficina</h3>
          <div> En el RUSB pabellón 10 contiguo al parqueo de Posgrado.</div>
          <div>En el RUPAP en la segunda planta, contiguo a decanatura FTC.</div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="card p-3 text-center">
        <div class="contact-details-box">
          	<img src="assets/images/contact/undraw_coding_6mjf.svg" class="step__image">
          <!-- <i class="fa fa-phone"></i> -->
          <h3>Teléfono</h3>
          <span> (505) 2278-4354</span>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="card p-3 text-center">
        <div class="contact-details-box">
          <img src="assets/images/contact/undraw_mail_box_kd5i.svg" class="step__image">
          <!-- <i class="fa fa-envelope-o"></i> -->
          <h3>Correo</h3>
          <a href="mailto:dtic@uni.edu.ni?Subject=Consulta-Técnica%20">dtic@uni.edu.ni</a>
          <!-- <span>correo2@ydomain.com</span> -->
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
