<!-- Start Header Section -->
<div class="page-header">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12 animated pulse">
                    <h1>Quienes Somos</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Header Section -->
<!-- Start About Us Section -->
<section id="about-section" class="about-section">
<div class="container">
    <div class="row">
       <div class="col-md-5 animated fadeInLeft">
           <div class="about-img">
               <img src="assets/images/portfolio/tec.jpg" class="img-responsive" alt="About images">
               <div class="head-text">

                   <p>Informática es la disciplina que estudia el tratamiento automático de la información utilizando dispositivos electrónicos y sistemas computacionales.</p>

               </div>
           </div>
       </div><br>
       <div class="col-md-7 animated fadeInLeft">
           <div class="about-text">
              <h2>Nuestra Historia</h2>
               <p>La División de Tecnología de Información y Comunicación DTIC, nació con financiamiento de la cooperación internacional (Agencia Sueca para el Desarrollo Internacional ASDI). Esta cooperación es conocida como Proyecto UNI/ASDI/TIC y es la que ha proporcionado los recursos requeridos para las actividades TIC (Tecnologías de Información y Comunicación) dentro de la Universidad Nacional de Ingeniería UNI. En el año XXXX se fundó con el nombre de TIC-CORC, TIC por el Por el Proyecto patrocinador y CORC son las siglas de Centro de Operación de Redes y Comunicaciones. El CORC inicio su funcionamiento por la necesidad de contar con un área que velara por el cumplimiento de las metas planteadas por el proyecto TIC en la UNI. Sus objetivos eran;</p>
              <ul>
                <li>El fortalecer la capacidad nacional TIC que permitirá a la comunidad universitaria en la UNI ser parte y beneficiaria de la red de información global. </li>
                <li>Ampliar el acceso de la comunidad universitaria a los recursos de comunicación e información local y globalmente disponible.</li>
                <li>Promover el uso aplicable de la información global en la educación superior y en proyectos e iniciativas de aplicación y desarrollo nacional. </li>
                </ul>
                <p>La visión de este centro era de desarrollar una capacidad Universitaria fiable y sostenible en el campo de la Tecnologías de Información y Comunicación, que en la UNI asegurara:</p>
                <p>La comunicación y el intercambio de información y conocimiento entre las instituciones académicas locales e internacionales. Apoye al desarrollo eficiente y eficaz de la administración Universitaria. Coloque a la UNI como centro de excelencia académica dentro del marco del desarrollo sostenible de la sociedad nicaragüense.</p>
           </div>
 </div>
       <div class="col-md-12 animated fadeInRight">
         <h4>DEFINICIÓN DEL NOMBRE DTIC</h4>
         <p>Informática es la disciplina que estudia el tratamiento automático de la información utilizando dispositivos electrónicos y sistemas computacionales. Informática es un vocablo proveniente del francés informatique, acuñado por el ingeniero Philippe Dreyfus en 1962, acrónimo de las palabras information y automatique. En lo que hoy conocemos como informática confluyen muchas de las técnicas y de las máquinas que el hombre ha desarrollado a lo largo de la historia para apoyar y potenciar sus capacidades de memoria, de pensamiento y de comunicación. La informática se utiliza en diversidad de tareas, por ejemplo: elaboración de documentos, control de procesos y robots industriales, telecomunicaciones y vigilancia, así como el desarrollo de juegos y multimedios. En la informática convergen los fundamentos de las ciencias de la computación, la programación y las metodologías para el desarrollo de software, así como determinados temas de electrónica.

         El concepto de Tecnologías de la Información (TI) es un concepto mas amplio que comprende no solo la informática.

         Tecnologías de la Información fue definida por el PNUD (2002) en el Informe sobre Desarrollo Humano del siguiente modo: Las Tecnologías de la Información (TI) se caracterizan por la digitalización de las tecnologías de registros de contenidos (informática, de las comunicaciones, telemática y de las interfaces) y el manejo del impacto en una organización o país.</p>
         <p>En el año 2006 se conoce con el nombre de División de Informática y Tecnologías de la Información y Comunicación, DITIC, fue creada por el acuerdo de Rectoría No. 379 con fecha 16 de Enero del 2006, en operación desde el 1 de Febrero del 2006.
              En el año 2007 su nombre se modifica a División de Informática y Tecnologías de Información (DITI), sustentado en el acuerdo de rectoría No. XXXX. En el año 2014 su nombre se modifica a  División de Tecnologías de Información y Comunicación (DTIC), nombre actual, sustentado en el acuerdo de rectoría No. 12-2014</p>
       </div>
       <div class="about-list">
         <div class="col-md-12 animated fadeIn ">
            <h4>BRINDABA SERVICIOS COMO</h4>
           <ul>
               <li>Correo Electrónico Institucional.</li>
               <li>Configuración de equipos.</li>
               <li>Seguridad y Eficiencia de la Red UNI- RUSB:</li>
               <li>Soporte Técnico, los cuales aun siguen siendo parte de los servicios ofrecidos a la comunidad Universitaria.</li>
               <!-- <li><i class="fa fa-check-square"></i>Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</li>
               <li><i class="fa fa-check-square"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li> -->
           </ul><br>


           <!-- <h4>More Feature</h4>
           <ul>
               <li><i class="fa fa-check-square"></i>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</li>
               <li><i class="fa fa-check-square"></i>Lorem ipsum dolor sit amet, consectetur adipiscing adipiscing.</li>
               <li><i class="fa fa-check-square"></i>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusan.</li>
               <li><i class="fa fa-check-square"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
           </ul> -->
           <h4>SEGÚN EL PORTAL DE LA SOCIEDAD DE LA INFORMACIÓN</h4>
           <p>Las TI son las tecnologías que se necesitan para la gestión y transformación de la información, y muy en particular el uso de ordenadores y programas que permiten crear, modificar, almacenar, proteger y recuperar esa información. Las Tecnologías de la Información se tratarían de un concepto que agruparía al conjunto de tecnologías cubriendo la informática y el aspecto social de éstas. Dentro de esta definición general se encontrarían los siguientes temas principales: Informática, Herramientas ofimáticas que contribuyen a la comunicación y uso de la información y otros temas vinculados.
            Las TI agrupan un conjunto de sistemas necesarios para administrar la información, y especialmente los ordenadores y programas necesarios para convertirla, almacenarla, administrarla, transmitirla y encontrarla.</p>
       </div>
       <div class="col-md-6">
         <h4>NUESTRA MISIÓN</h4>
         <p>La División de Tecnologías de la Información y Comunicación (DTIC), instancia que depende de la Rectoría de la Universidad Nacional de Ingeniería, asesora, planifica, supervisa y ejecuta proyectos institucionales de Tecnologías de Información, brinda servicios tecnológicos a la comunidad universitaria, para agilizar y facilitar los procesos y actividades académicas y administrativas; enmarcados en políticas y estándares internacionales establecidos y adaptados a la realidad institucional y nacional.</p>
       </div>
       <div class="col-md-6">
         <h4>NUESTRA VISIÓN</h4>
         <p>La División de Tecnologías de la Información y Comunicación, desarrolla las TICs en la Universidad Nacional de Ingeniería, con altos estándares técnicos, de gestión y operación, convirtiendo a la DTIC en un centro de excelencia acreditado a nivel nacional y regional.</p>
       </div>
    </div>
  </div>
</div>
</section>
