<!-- Start Footer Section -->
<section id="footer-section" class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="section-heading-2">
                    <h3 class="section-title">
                        <span>Dirección</span>
                    </h3>
                </div>

                <div class="footer-address">
                    <ul>
                        <li class="footer-contact"><i class="fa fa-building"></i> En el RUSB pabellón 10 contiguo al parqueo de Posgrado</li>
                        <li class="footer-contact"><i class="fa fa-building-o"></i> En el RUPAP en la segunda planta, contiguo a decanatura FTC.</li>
                        <li><i class="fa fa-envelope"></i><a href="mailto:dtic@uni.edu.ni?Subject=Consulta-Técnica%20">dtic@uni.edu.ni</a></li>
                        <li class="footer-contact"><i class="fa fa-phone"></i> (5405) 2278-4354</li>
                    </ul>
                </div>
            </div><!--/.col-md-3 -->
            <div class="col-md-3">
                <div class="section-heading-2">
                    <h3 class="section-title">
                        <span>Enlaces de Interes</span>
                    </h3>
                </div>

                <div class="footer-address">
                      <div>
                            <ul>
                              <li><i class="fa fa-envelope"></i><a href="https://login.microsoftonline.com/common/oauth2/authorize?client_id=00000002-0000-0ff1-ce00-000000000000&redirect_uri=https%3a%2f%2foutlook.office.com%2fowa%2f&resource=00000002-0000-0ff1-ce00-000000000000&response_mode=form_post&response_type=code+id_token&scope=openid&msafed=0&client-request-id=55f433db-7c8f-4549-94df-d02c18f44234&protectedtoken=true&nonce=636505922821547945.f70cb0cb-fccd-4de5-805d-6e860d36a842&state=DYtBEoAgCAC1pueQRID4HBO9duz7MbO7t80ppT3cwoyRVPVWQWlERpdwbSznqjieANYYDuxTwFAcdJqi39qNKcd7lPfr5Qc" target="_blank">Correo UNI</a></li>
                              <li><i class="fa fa-file"></i><a href="https://si.uni.edu.ni/notasuni/Login.aspx" target="_blank">Notas en Línea</a></li>
                              <li><i class="fa fa-book"></i><a href="https://si.uni.edu.ni/SIPPSI/Formularios/login.aspx" target="_blank">SIPPSI</a></li>
                              <li><i class="fa fa-calendar"><a href="http://www.uni.edu.ni/Calendario_Academico" target="_blank"> Calendario Académico</a></i></li>
                              <li><i class="fa fa-yelp"><a href="http://helpdesk.uni.edu.ni/" target="_blank"> HelpDesk</a></i></li>
                            </ul>
                        </div>
                  </div>
            </div><!--/.col-md-3 -->

            <div class="col-md-3">
                <div class="section-heading-2">
                    <h3 class="section-title">
                        <span>Servicios</span>
                    </h3>
                </div>
                  <div class="footer-address">
                      <ul>
                        <li><a routerLink="services">Soporte Sistemas Informaticos</a></li>
                        <li><a routerLink="services">Soporte Técnico e Infraestructura</a></li>
                        <li><a routerLink="services">Alojamineto Web</a></li>
                        <li><a routerLink="services">Cuentas de Correo Insitucional</a></li>
                        <li><a routerLink="contact">Contáctenos</a></li>
                      </ul>
                  </div>
                </div>


            <div class="col-md-3">
                <div class="section-heading-2">
                    <h3 class="section-title">
                        <span>Galería</span>
                    </h3>
                </div>

                 <div class="flickr-widget">
                    <ul class="flickr-list">
                        <li>
                            <a href="assets/images/portfolio/cableado.jpg" data-lightbox="picture-1">
                                <img src="assets/images/portfolio/cableado.jpg" alt="" class="img-responsive">
                            </a>
                        </li>
                        <li>
                            <a href="assets/images/portfolio/servidores.jpg" data-lightbox="picture-2">
                                <img src="assets/images/portfolio/servidores.jpg" alt="" class="img-responsive">
                            </a>
                        </li>
                        <li>
                            <a href="assets/images/portfolio/SIRH.png" data-lightbox="picture-3">
                                <img src="assets/images/portfolio/SIRH.png" alt="" class="img-responsive">
                            </a>
                        </li>
                        <li>
                            <a href="assets/images/portfolio/pc.jpg" data-lightbox="picture-4">
                                <img src="assets/images/portfolio/pc.jpg" alt="" class="img-responsive">
                            </a>
                        </li>
                        <li>
                            <a href="assets/images/portfolio/switch.jpg" data-lightbox="picture-5">
                                <img src="assets/images/portfolio/switch.jpg" alt="" class="img-responsive">
                            </a>
                        </li>
                        <li>
                            <a href="assets/images/portfolio/notasenlinea.jpg" data-lightbox="picture-6">
                                <img src="assets/images/portfolio/notasenlinea.jpg" alt="" class="img-responsive">
                            </a>
                        </li>
                        <li>
                            <a href="assets/images/portfolio/app.jpg" data-lightbox="picture-7">
                                <img src="assets/images/portfolio/app.jpg" alt="" class="img-responsive">
                            </a>
                        </li>
                        <li>
                            <a href="assets/images/portfolio/data-center.jpg" data-lightbox="picture-8">
                                <img src="assets/images/portfolio/data-center.jpg" alt="" class="img-responsive">
                            </a>
                        </li>
                    </ul>
                </div>
            </div><!--/.col-md-3 -->
        </div><!--/.row -->
    </div><!-- /.container -->
</section>
<!-- End Footer Section -->

<!-- Start CCopyright Section -->
<div id="copyright-section" class="copyright-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    Copyright © {{ anio }} DTIC. Todos los derechos Reservados. <a href="http://www.uni.edu.ni/" target="_blank">Universidad Nacional de Ingeniería</a>
                </div>
            </div>

            <!-- <div class="col-md-5">
                <div class="copyright-menu pull-right">
                    <ul>
                        <li><a href="#" class="active">Home</a></li>
                        <li><a href="#">Sample Site</a></li>
                        <li><a href="#">getbootstrap.com</a></li>
                    </ul>
                </div>
            </div> -->
        </div><!--/.row -->
    </div><!-- /.container -->
</div>
<!-- End CCopyright Section -->
