<!-- Start Header Section -->
<div class="banner">
    <div class="overlay">
        <div class="container">
            <div class="intro-text animated zoomIn">
                <h1>División de Tecnologías de Información y Comunicación</h1>
                <p>La División de Tecnologías de Información y Comunicación (DTIC), nació con financiamiento de la cooperación internacional <br> Agencia Sueca para el Desarrollo Internacional (ASDI)</p>
                <a routerLink="/about" class="page-scroll btn btn-primary">Leer Mas...</a>
            </div>
        </div>
    </div>
</div>

<!-- <div class="page-header">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12 animated pulse" id="servicio">
                    <h1> Servicios</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="service-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="services-post">
            <a routerLink="/services"><i class="fa fa-skyatlas"></i></a>
            <h2> Soporte Sistemas de Informaticos</h2>
      <p>Atención de incidencias para todos los  sistemas informáticos de la institución</p>
        </div>
            </div>
            <div class="col-md-3">
                <div class="services-post">
            <a routerLink="/services"><i class="fa fa-magic"></i></a>
            <h2>Correo Institucional</h2>
      <p>Donec odio. Quisque volutpat mattis eros. Nullam malesuada </p>
        </div>
            </div>
            <div class="col-md-3">
                <div class="services-post">
            <a routerLink="/services"><i class="fa fa-gift"></i></a>
            <h2>Soporte Técnico</h2>
      <p>Donec odio. Quisque volutpat mattis eros. Nullam malesuada </p>
        </div>
            </div>
            <div class="col-md-3">
                <div class="services-post">
            <a routerLink="/services"><i class="fa fa-diamond"></i></a>
            <h2>Alojamiento Web</h2>
      <p>Donec odio. Quisque volutpat mattis eros. Nullam malesuada </p>
        </div>
            </div>
        </div>
    </div>
</section> -->
