<div class="page-header">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12 animated pulse">
                    <h1> Servicios</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="about-section">
    <div class="container">
        <div class="row">
          <div class="col-md-6 animated fadeInLeft ">
              <div class="about-list">
                <h2 id="servicios1">SOPORTE SISTEMAS DE INFORMACIÓN</h2>
                  <ul>
                      <li>SIRA (Sistema de Registro Académico)</li>
                      <li>SIPPSI (Sistema de Información de Planificación, Presupuesto y Seguimiento Institucional)</li>
                      <li>SIFOP (Sistemas de Facultades o Programas)</li>
                      <li>SIAF (Sistema de Inventario)</li>
                      <li>MIC-SIFOP (Sistema de Ingresos y Egresos por Estructura Programática)</li>
                      <li>SIRH (Sistema de Información de Recursos Humanos)</li>
                      <li>SISCOM (Sistema Automatizado de Gestión de Compras)</li>
                      <li>SIPAD (Sistema de Procesos Administrativos)</li>
                  </ul>
                  <ul>
                      <li>Soporte y mantenimiento en los diferentes sistemas de información utilizados en la institución.</li>
                      <li>Implementación de controles y mecanismo de seguridad en el acceso de los sistemas de información.</li>
                      <li>Efectuar respaldos periódicos de las bases de datos generadas por los sistemas de información institucional.</li>
                      <li>Brindar capacitación sistemática a los usuarios de la institución en el manejo de los sistemas de información institucional.</li>

                  </ul>
              </div>
          </div>
          <div class="col-md-6 animated fadeInRight">
            <div class="about-list">
              <h2>SOPORTE TéCNICO</h2>
              <ul>
                  <li>Atención de contingencias informáticas en datos y aplicaciones de cómputo.</li>
                  <li>Análisis y recuperación de datos e información en ambiente Windows.</li>
                  <li>Instalación. configuración y mantenimiento de sistemas operativos y paquetería de cómputo.</li>
                  <li>Evaluación y diagnóstico de aplicaciones y equipos de cómputo.</li>

              </ul>
            </div>
          </div>
          <div class="col-md-6 animated fadeInRight">
            <div class="about-list">
              <h2>Correo Institucional</h2>
              <ul>
                  <li>Atención de contingencias informáticas en datos y aplicaciones de cómputo.</li>
                  <li>Análisis y recuperación de datos e información en ambiente Windows.</li>
                  <li>Instalación. configuración y mantenimiento de sistemas operativos y paquetería de cómputo.</li>
                  <li>Evaluación y diagnóstico de aplicaciones y equipos de cómputo.</li>

              </ul>
            </div>
          </div>
          <div class="col-md-12 animated fadeInRight">
            <div class="about-list">
              <h2>Alojamiento Web</h2>
              <p>Para crear un dominio Web bajo uni.edu.ni, es necesario solicitarlo por escrito al Secretario General Ing. Diego Muñoz y al Director DTIC Ing. Sixto Chavarría, un email se considera como una solicitud escrita,  con los siguientes datos:</p>
              <ul>
                  <li>Explicación de cuales son los motivos y finalidad del dominio Web.</li>
                  <li>Nombre del dominio ejemplo: www.tusitio.uni.edu.ni.</li>
                  <li>Responsable para la administración del dominio Web (Webmaster).</li>
              </ul>
              <ul>
              <p>Las facilidades que nosotros ofrecemos son las siguientes:</p>
              <li>Alojamiento de sitio Web en Nuestro Web Server.</li>
              <li>Creación de una cuenta de correo Institucional para el encargado de administrar el sitio Web.</li>
              <li>Proveer el software necesario para la administración del sitio Web (Instalador del Webdrive, versión 5.32).</li>
              </ul>
            </div>

          </div>

        </div>
    </div>
</section>
